.change-password-container {
  z-index: 2;
  position: relative;
  max-width: 500px;
  margin: 50px auto;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: #202050;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.change-password-container:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
}

.change-password-form .form-group {
  margin-bottom: 16px;
}

.change-password-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.change-password-form input {
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  background-color: #f3e7ff;
  border: 1px solid #ccc;
}

.change-password-form button {
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.change-password-form button:hover {
  background-color: #332c98;
  border: #fff solid 1px;
}

.form-message {
  margin-top: 12px;
  color: #e53935;
  font-weight: bold;
}
